[2017-02-02 10:36] divmain opened #1 "Component context"

[2017-02-02 11:00] divmain opened #2 "Component caching"
If a component specifies a `cacheKey` prop:

1. consume all string segments from its virtual DOM subtree,
2. stash the concatenated segments in a hash-map, keyed by the `cacheKey`,
3. emit the cached value on subsequent requests for the same `cacheKey`,
4. don't render `cacheKey`.

It might also be worth writing a Babel plugin that strips out `cacheKey` props, so that they won't be rendered to the

[2017-02-02 12:07] divmain opened #3 "Tagged template literals --> Stream"
When server-side rendering, most users will not want to send the exact output of a virtual-DOM render.  For example, you might want to wrap it in `<html> ... </html>`, and you may want to inject your initial state into the DOM.

Often, developers will accomplish this by rendering to string, and then inserting that string into a template literal.  Unfortunately, this pattern can become somewhat unw

[2017-02-02 20:00] divmain opened #4 "README"

[2017-02-02 20:37] #1 closed

[2017-02-02 22:41] #3 closed

[2017-02-02 22:52] divmain commented on #2
The values in the hash-maps will be slightly more complex than I original envisioned.  Since values in a stream can't be replayed once consumed, we'll need to:

1. cache the values in an array, and
2. keep track of the stream itself until it is fully consumed.

Something like:
[code]

Then, it should be a simple matter of:
[code]

[2017-02-03 00:21] #2 closed

[2017-02-03 00:24] divmain opened #5 "Cache TTL and/or invalidation"
In many cases, we will want to control the growth of the component render cache.  One option for cache-invalidation is to introduce a sibling prop to `cacheKey`: `cacheTTL`.  When provided, this would invoke a function that clears the particular cache entry with `setTimeout`.

There may be other ways to go about this also... a FIFO array that tracks all cache entries might work for some use cases.

[2017-02-03 06:20] #4 closed

[2017-02-03 10:18] mhaagens opened #6 "Getting Error: not implemented"
Great library! I'm trying to use this with Express, but can't seem to get it to work.
I'm getting this error;

[code]

This is my render function;

[code]

Any idea as to what's going wrong here?

[2017-02-03 10:25] divmain commented on #6
You're the first person to pull this down and give it a try! Let me get back to you tomorrow morning, it has been a couple of late nights to put my thoughts into code.

[2017-02-03 10:30] mhaagens commented on #6
I'm really excited for this library, great work!
I'm using renderToString from rapscallion now and it shaved off roughly ~200ms from my server render, so I'm very excited about getting the streaming working. Whenever you have time to take a look at it that would be awesome :)

[2017-02-03 10:46] mhaagens commented on #6
I'll just post this here as well, when used with React Router renderToString returns;
[code]
in case you're using this with React Router as well and know what's causing this?

[2017-02-03 10:58] divmain opened #7 "Determine how to handle backpressure for streaming interface"

[2017-02-03 11:00] #6 closed

[2017-02-03 11:02] divmain commented on #6
@mhaagens, the stream issue should be fixed and release in `1.0.2`.  Could you open an issue regarding React Router, possibly with a minimal reproduction?  I haven't done too much testing yet, so real-world examples will be hugely useful to me.

Bed now though, for realz this time.

[2017-02-03 11:06] mhaagens commented on #6
Thanks for the super fast fix! I'll open an issue regarding React Router.
And yeah, get some sleep :+1:

[2017-02-03 11:18] mhaagens opened #8 ""TypeError: Cannot read property 'createHref' of undefined" if used with React Router"
If used with React Router I'm getting
[code]

App.js:

[code]

Home.js:
[code]

Server:
[code]

[2017-02-03 12:04] mhaagens commented on #8
Seems like a context issue? All props sent to the <StaticRouter /> are undefined.

[2017-02-03 18:20] divmain opened #9 "Add support for componentWillMount for stateful components"

[2017-02-03 18:21] divmain commented on #8
Perfect, thanks for such a great repro!

[2017-02-03 19:22] divmain commented on #8
This might be due to #9.  If `react-router` relies on an HOC's `setState` method, that doesn't work yet.  If the fix to #9 doesn't resolve this, I'll dig in deeper!

[2017-02-03 19:54] mhaagens commented on #8
Sounds good, I'll test it as soon as the fix is up. Thanks!

[2017-02-03 22:50] #9 closed

[2017-02-03 22:51] divmain commented on #9
Released in `v1.0.6`.

[2017-02-04 03:06] divmain commented on #8
@mhaagens I'm having trouble moving forward with this issue.  From what I can tell `react-router-dom` is not a for-realz package.  It appears to be a single, empty `index.js` when I pull it down from `npm`.

The `<Router>` component is present in `react-router` but not `<StaticRouter>`.  Any thoughts?

[2017-02-04 03:31] divmain commented on #8
Heh.  It looks like this is completely unrelated to `rapscallion`, although it definitely wasn't obvious why :)  If you `npm install react-router-dom@next`, your example should work :+1:.  I've posted the exact repro I'm using [here](https://gist.github.com/divmain/409461325d8098dfab08ff46b38cbef8).  Let me know if you run into any other issues with RRv4!

[2017-02-04 09:03] mhaagens commented on #8
Hi! I had react-router-dom@next installed and it works if I keep everything in one file, but it breaks as soon as I move the components out of the index file and import them instead (export default class App etc...), so I don't think the empty package was the problem. If it's not too much trouble could you try to import your components and see if that works for you?

[2017-02-04 09:18] divmain commented on #8
Very strange.  I'll give it another look!

[2017-02-04 09:19] mhaagens commented on #8
Thanks, appreciate it!

[2017-02-04 09:56] divmain commented on #8
I've isolated the difference between our two examples, and it wasn't the imports.  It was the fact that `<Route>` was wrapped in a `<div>` in yours but not mine.  I'm looking closer to see what might be causing the issue.  Thanks for persisting!

[2017-02-04 10:04] divmain commented on #8
Found it!  Context wasn't being passed down to children of `<div>`s.  Fix is in and published with `v1.0.7`.  It wasn't showing `TypeError: Cannot read property 'createHref' of undefined` (I think that was probably `react-router-dom`?) but instead was showing `TypeError: Cannot read property 'location' of undefined`.

Anyway, can you take a look and confirm all is well?

[2017-02-04 10:37] mhaagens commented on #8
Awesome, that worked! Yeah I got that error as well, but all is well now!
I'm going to test properly a little later, because I had to remove the constructor from my components to get it to work, I had;
[code]
which gave me
[code]

It started working when I removed the constructor. Thanks so much for fixing this, I'm really excited to benchmark the performance later. Cheers!

[2017-02-04 10:45] divmain commented on #8
The constructor thing may be due to the fact that constructors accept two arguments: `props` and `context`.  So you might want to do:

[code]

or

[code]

If that's not the case though and you notice problems somewhere, let me know.  I'm eager to iron out all that I can before doing a more public release.

[2017-02-04 11:31] mhaagens commented on #8
I removed the constructor and tried using a subcomponent, like this;
[code]
and then I get the same ```Unhandled promise rejection (rejection id: 1):  TypeError: Unknown node of type: undefined``` error. I also tried wrapping my routes in the main app in a div, like this;

[code]
which gives the same error. I removed the lazy route loading and imported the components normally and got the same erro

[2017-02-04 19:26] divmain commented on #8
Oh bother.. I'll give this another try.

[2017-02-05 00:49] divmain commented on #8
Hey @mhaagens - I've created a temporary repo [here](https://github.com/divmain/rapscallion-rr4) to give us something better to iterate on.  I'm working to reproduce the error you see here, and if I get it working you can try to break it again :)  Thanks again for your help -it's been very productive!

[2017-02-05 05:57] divmain commented on #8
There's some underlying issue with my renderer and `react-side-effect` / `react-helmet`.  Something strange is going on there with component initialization...

[2017-02-05 07:28] #8 closed

[2017-02-05 07:35] divmain commented on #8
Alright, this was an intense rabbit-hole, but I think I have it...  You may interested in the ultimate fix - it was a three-line fix, but obscure and confusing enough that it warranted a 41-line comment :1st_place_medal:

The [test repo](https://github.com/divmain/rapscallion-rr4) has been updated with a working rapscallion + RRv4 + Helmet application nearly identical to what you posted.  Feel fre

[2017-02-05 07:41] divmain commented on #8
And released in `rapscallion@1.1.1`.

[2017-02-05 07:59] mhaagens commented on #8
Hey, sorry for replying so late, I think we're on completely different timezones.
I installed @1.1.1 and everything works beautifully now!
And yeah took a look at the comment for the fix, that must've taken a bit to figure out!
Thanks so much for fixing things over the weekend, really appreciate it and I'll definitely help champion this library. eventually I plan on using it for work on a producti

[2017-02-05 08:16] divmain commented on #8
Awesome. Next up for me is to look into back pressure for the streaming mode. It'd be fantastic if evaluation of the DOM tree haulted upon network traffic congestion.

[2017-02-05 08:30] mhaagens commented on #8
So it would just send down the stream template but skip server render of the application?

[2017-02-05 20:27] divmain commented on #8
Well, it would evaluate whatever the stream was ready for. In most cases, yes, it would at least start by sending the first bits of the template. And possibly the first, say, 1000 characters of your components HTML. But at that point, if the outgoing network connection got backed up, evaluation of your react component would pause until the buffer had room.

One random thought that was triggered by

[2017-02-06 21:46] mhaagens opened #13 "renderToString prints out class-name="" instead of class="""
<img width="673" alt="screen shot 2017-02-06 at 22 45 10" src="https://cloud.githubusercontent.com/assets/3270517/22667672/2550ade4-ecbe-11e6-888c-8b89cb60233e.png">

[2017-02-06 22:15] divmain commented on #13
Thanks!  Totally missed that one.  Can you think of other special cases where `React` uses one identifier, but HTML uses something other than the dash-cased equivalent?

[2017-02-07 03:01] kylecesmat commented on #13
@divmain Most JS `camelCased` attributes actually print to be lowercased, dash-casing is actually an exception. This is a decent list to reference: https://github.com/insin/babel-plugin-react-html-attrs/blob/master/lib/translations.js

[2017-02-07 16:38] kenwheeler opened #14 "No root checksum"
React internally provides a checksum here:

https://github.com/facebook/react/blob/e3131c1d55d6695c2f0966379535f88b813f912b/src/renderers/dom/stack/server/ReactMarkupChecksum.js

The client then checks this to see if it matches, and if it doesn't, it renders over it. Because we aren't providing a checksum at all, the client will always blow away what was server rendered with a fresh render, unnece

[2017-02-07 20:30] divmain commented on #13
Thanks to @alexlande for pointing me at [React's configs](https://github.com/facebook/react/tree/59ff7749eda0cd858d5ee568315bcba1be75a1ca/src/renderers/dom/shared) for prop conversion.

[2017-02-07 20:52] aweary commented on #14
There are other attributes React includes as well that are required for full compatibility. Specifically `data-reactroot` and `data-reactid`.

[2017-02-07 21:04] aweary opened #15 "Style attribute is not parsed"
Doing:

[code]

Results in:

[code]

[2017-02-07 21:08] aweary commented on #14
Also, the checksum is calculated from the final markup, making it difficult (impossible?) to actually efficiently stream (as its being processed) the correct response since the first chunk would contain data that requires all the markup to be parsed already.

[2017-02-07 21:29] divmain commented on #14
I've been considering this, and here are my thoughts:

- With Rapscallion, the checksum is not known until all rendering has completed.
- If streaming, the root element has already made it to the client by the time the checksum can possibly be generated.
- Fortunately, the checksum is not needed _on the client_ until the DOM has completed loading and React is bootstrapped.
- If the checksum were s

[2017-02-07 21:33] aweary commented on #14
@divmain we can at least implement this with `renderToString` since it is buffered. PR incoming.

[2017-02-08 06:06] divmain opened #18 "JSDoc internal documentation"

[2017-02-08 20:26] viktorbezdek opened #21 "Reliability"
Howdy, is this library ready for prime time? Is it somehow battle tested?

I've project with about 500k unique visitors daily and 50-200 req/s all the time, so SSR performance and component level cache is crucial. Redis caching approach I came up with works but it's far from perfect. I know I won't have time to improve it soon enough, so I'm hoping for solution from open source scene.

[2017-02-08 20:59] divmain opened #22 "Allow component cache to use alternative backend"
Everything is in-memory for now.  However, caching is done with simple keys.  And once a cached component has been compressed, the values stored are simple strings.  This being the case, there's no reason why Redis couldn't be used as a backend.

Several benefits come to mind:

- TTLs for cache entries become simple to manage
- you don't risk out-of-memory errors in your Node process for folks cac

[2017-02-08 21:01] ryan-roemer commented on #22
Or really, any distributed cache service (memcached, ElasticCache, etc.). Should be a pretty simple abstraction layer.

Put another way, I wouldn't tie it to Redis 😉

[2017-02-08 21:04] divmain commented on #21
Hi @viktorbezdek!

The first commit to was under a week ago, so this is definitely not battle-tested yet.  We're connected to a handful of folks with sizable deployments (your size and larger) with strong interest, so I expect stability to come rather quickly.

As people have taken a look, I've been able to address any issues that were identified pretty quickly.  If you're interested in getting th

[2017-02-08 21:07] divmain commented on #21
Oh!  And your comment re: Redis prompted a thought that I've documented here: #22.

[2017-02-08 21:08] divmain commented on #22
Agreed.  I've expanded my thoughts in the description for why Redis provides such great synergy.  But you're right - any caching service should be usable.  Ideally, the abstraction is agnostic to the storage, and you're only responsible for providing `get` and `set` functions that return a Promise.

[2017-02-08 21:10] divmain commented on #22
Related to #5.

[2017-02-08 21:15] aweary opened #23 "Add parity test suite for ReactDOMServer"
It's important that rapscallion produce output consistent with `ReactDOMServer.renderToString`.  We should add a suite of tests that renders a number of different types of components and layouts and verify that the output matches.

[2017-02-08 22:07] divmain opened #24 "SFCs are not rendered correctly when untranspiled"
Identified here: https://github.com/FormidableLabs/rapscallion/pull/17#discussion_r100168163

[2017-02-08 22:09] divmain opened #25 "Explore performance of native Promises in `toPromise` vs bluebird"

[2017-02-08 22:10] divmain opened #26 ""Number nodes" should be rendered as text nodes"

[2017-02-08 22:13] divmain opened #27 "Use string concatenation in attr generation"

[2017-02-08 22:18] #7 closed

[2017-02-08 22:25] #18 closed

[2017-02-08 22:50] #26 closed

[2017-02-09 04:45] divmain commented on #27
I switched over to string concatenation @aweary, but actually saw a slow-down in performance.  I'm wondering if, because you're concatenation the same string in your benchmark, if V8 optimizes it away in a clever way.  I'm putting together another benchmark to prove/disprove that theory.

[2017-02-09 04:46] divmain commented on #15
Fixed in #19.

[2017-02-09 04:46] #15 closed

[2017-02-09 05:00] aweary commented on #27
@divmain thats likely. The renderer that I was working on concatenated to the same string every time (it was contained in a "context" object that was passed down as it recursed). Is there a way we could implement something similar here?

[2017-02-09 06:40] divmain commented on #27
That's essentially what I tried:

[code]

But performance worsened with the change.  I'm not sure why this would be - it is possible that V8 is optimizing the string concatenation into a no-op, if it sees that the value is never used?  That's the only thing I can think of, since the real-world results seem to conflict with the benchmark.  Do you have any other thoughts?  I'd love to improve perf i

[2017-02-09 06:56] divmain commented on #13
Fixed by #28.

[2017-02-09 06:56] #13 closed

[2017-02-09 15:21] ryan-roemer commented on #27
@divmain -- Rando thoughts:

Why don't we try the full other way too since you've got concat either way, e.g.

[code]

Also, maybe we could get an additional benchmark that correlates more strongly with your real world example?

[2017-02-09 16:27] aweary commented on #27
@ryan-roemer @divmain I put together a more accurate benchmark using the actual attribute function here: https://github.com/aweary/string-concat-array-join-bench

You can see the results I got in the repo's README for node 4 - latest. In all cases I measured string concatenation to be much faster. One interesting thing I discovered was that using `let` vs `var` made a *huge* difference (benchmarks

[2017-02-09 16:33] aweary commented on #27
We should also look into utilizing benchmark.js here as well. It does a lot of work making sure that it has enough runs to provide a statistically relevant result.

[2017-02-09 17:06] ryan-roemer commented on #27
@aweary -- I took your example and did a "pure concatenation" with no backticks:

[code]

and got:

[code]

[2017-02-09 18:48] aweary commented on #27
@ryan-roemer how does it compare with newer versions of Node?

[2017-02-09 21:35] ryan-roemer commented on #27
@aweary -- Updated with node6

[2017-02-09 21:50] aweary commented on #27
@ryan-roemer thanks! I added it to the benchmark repo and updated the results in the README for all versions.

Side note: it's amazing how much faster string concatenation has gotten since Node 4.

[2017-02-09 23:59] divmain commented on #27
Thanks for all the research on this!  @aweary, are you interested in hooking some for-realz benchmarks with `benchmark.js`?  I'm amenable.  And if the benchmarks show a faster way to construct the attrs in the context of VDOM rendering, I'm 100% for it.

[2017-02-10 18:56] rgerstenberger opened #29 "Handle `dangerouslySetInnerHTML` prop"
Make sure that elements with `dangerouslySetInnerHTML` as a prop render the correct children.

[2017-02-12 19:34] #14 closed

[2017-02-12 19:58] #29 closed

[2017-02-13 07:18] mhaagens opened #31 "TypeError: (0 , _rapscallion.render) is not a function"
Tried the new API and I'm getting ```TypeError: (0 , _rapscallion.render) is not a function``` from;
[code]

[2017-02-13 19:27] divmain commented on #31
Hey @mhaagens - I haven't published to NPM since updating the API and any changes since.  I was making a number of breaking changes and wanted to avoid three major revisions before I officially launched the thing :P  I'll publish this to a beta channel so you can give it a try.

[2017-02-13 19:34] divmain commented on #31
Alright, you should be able to try out the updates by `npm install rapscallion@beta`.

[2017-02-13 19:34] #31 closed

[2017-02-13 22:47] mhaagens commented on #31
Worked like a charm, thanks! :)

[2017-02-13 23:50] #21 closed

[2017-02-14 01:50] divmain commented on #5
Closing in favor of #22.

[2017-02-14 01:50] #5 closed

[2017-02-14 08:32] mhaagens opened #35 "throw new TypeError(`Unknown node of type: ${node.type}`);"
Probably me doing something wrong, but I'm getting this error now;
[code]

[2017-02-14 17:31] aweary commented on #35
@mhaagens thanks for the report! Can you share the component you're trying to render when you get that error, or preferably a simplified example if it's part of a large render tree?

[2017-02-14 18:40] #24 closed

[2017-02-14 20:23] divmain commented on #35
@mhaagens, if you're able to come up with a minimal reproduction, can you update the [repo](https://github.com/divmain/rapscallion-rr4) we were working from earlier?  You should still have push rights.

[2017-02-14 21:46] mhaagens commented on #35
Sure, not able to right now but I can get on it tomorrow.

[2017-02-15 05:57] divmain opened #37 "Consider `Traverser` class with attached `Cacher`"
Capturing an out-of-band conversation with @ryan-roemer:

Using a global singleton for the cache strategy is potentially undesirable.  Or, inversely, it might be desirable to use different caching solutions for different components / pages in the context of a single Node.js process.

If the traversal functions in `src/render/traverse.js` were made to be class methods of a new `Traverser` class, a

[2017-02-15 05:58] #22 closed

[2017-02-15 05:58] #25 closed

[2017-02-15 08:23] divmain commented on #35
@mhaagens, this may have been related to children elements that are arrays.  I've pushed a fix and published `v2.0.1`.  Let me know if that resolves the issue for you, and I'll close this out.

[code]

[2017-02-15 12:34] mhaagens commented on #35
Yep, that fixed it, thanks!

[2017-02-15 12:34] #35 closed

[2017-02-15 18:35] jaredpalmer opened #39 "Document how to handle CSS, CSS-in-JS SSR"
Lots of CSS-in-JS libs have some sort of special wrapper around `ReactDOM.renderToString()`. Glamor for example requires the following:

[code]

does this just become?

[code]

[2017-02-15 23:57] jaredpalmer commented on #39
I got rapscallion working with `glamor/server`

[2017-02-15 23:58] aweary commented on #39
@jaredpalmer can you share how you did that?

[2017-02-16 00:04] aweary opened #40 "Implement benchmarking suite using benchmark.js"
Opening so I can track this, hoping to do soon

[2017-02-16 00:09] jaredpalmer commented on #39
[code]

[code]

[code]

[2017-02-16 00:09] jaredpalmer commented on #39
@aweary still working through the checksum

[2017-02-16 00:20] jaredpalmer commented on #39
@aweary if i add
[code]

to `template.js`(right after the `initialState` declaration),  I get the following error:

[code]

[2017-02-16 00:33] divmain commented on #39
@jaredpalmer I think there may still be issues with the order of evaluation of the template segments.  I'll reproduce this example this evening and make any edits the seem necessary.  In particular, `glamor`'s `renderStatic` looks a bit funky (it relies on a global singleton and assumes synchronous render) and will have to be worked around.  But it's definitely doable.

[2017-02-16 00:34] divmain commented on #39
I'm also thinking through how I want to document all of this.  It might become cumbersome to document how-tos for individual React libraries.  But these are definitely questions that people will be asking, so a FAQ that covers some of these common patterns might be really useful.

[2017-02-16 00:43] jaredpalmer commented on #39
As cumbersome as it might be to do recipes for individual libs, it would drive adoption if things were copy and paste-ready though.

[2017-02-17 22:28] divmain commented on #39
That's very true.  The problem with full examples in the docs is that they're hard to keep up-to-date.  Blog posts don't usually have that problem - people know that they may not be correct.

On the other hand, it might be worth simply included well-commented examples in the repo.  They can be rendered in CI, and that way we'll have some guarantees regarding correctness.  Do you think that would s

[2017-02-19 01:25] jaredpalmer commented on #39
I think there are really 4 big recipes:

- RR v3 `match() {....}`
- RR v4 `StaticRouter` etc.
- Redux
- One CSS-in-JS

You could probably combine the Redux and CSS-in-JS into one.

[2017-03-01 21:07] divmain opened #42 "Pre-rendering Babel plugin"

[2017-03-02 00:42] mini-eggs opened #44 "<br/> is double rendered"
Here's some photos showing the issue:
http://imgur.com/a/cwsjT

Last photo in the imgur list has javascript turned off.

Once I get the time I'll most likely submit a PR to help. :--)

[2017-03-02 00:45] divmain commented on #44
That's super strange!  Thanks for reporting.

[2017-03-02 00:57] mini-eggs commented on #44
No problem!

I guess it isn't really double rendered, just all jsx elements that are <something/> are turned into <something></something>

but browsers interpret <br></br> as two break points.

[2017-03-02 01:48] aickin commented on #44
FYI, there are a bunch of other HTML elements that need to be self-closed when they have no content: https://github.com/facebook/react/blob/master/src/renderers/dom/stack/client/ReactDOMComponent.js#L354

[2017-03-02 01:50] aweary commented on #44
@aickin mentioned in https://github.com/FormidableLabs/rapscallion/pull/45#issuecomment-283530710 👍

btw we'd love any feedback or contributions you may have for the project in general @aickin!

[2017-03-02 01:54] aickin opened #46 "Template example code has an XSS security issue."
The [full example in the template section](https://github.com/FormidableLabs/rapscallion#example) has the following line:

[code]

Unfortunately, `JSON.stringify` can cause XSS attacks when read out in the middle of a `<script>` tag. As [this article](https://medium.com/node-security/the-most-common-xss-vulnerability-in-react-js-applications-2bdffbcc1fa0#.32wbmq52q) explains, a good solution is us

[2017-03-02 01:54] aickin commented on #44
Four or five issues incoming right now! 😂

[2017-03-02 02:24] aickin opened #47 "API Discussion: Why isn't template just a render function?"
First off, congratulations on your launch! Nice job. 🚀🌈🔥
Also: thanks for having good docs!

It's great that you included static templates, but I'm a little confused about your choice to use template strings rather than just making another render function with plain old React elements. It seems to me that using template strings requires the developer to learn a second API (in addition to `render`)

[2017-03-02 02:42] mini-eggs commented on #44
Great link @aickin!

[2017-03-02 02:45] aickin opened #48 "Consider automatically pushing out a script tag that sets the checksum"
I sent this in [a tweet](https://twitter.com/xander76/status/837004640751243264) to @divmain but thought it was worth expanding on here.

The first version of `react-dom-stream` took the same checksum strategy you are using here in Rapscallion: have the checksum be an extra attribute on the stream which the API client can then read out into a script tag, and that script tag in turn sets the checks

[2017-03-02 03:10] aickin opened #49 "Adding a cacheKey attribute to a DOM element causes a React dev warning."
`ReactDOM.render` checks properties on DOM elements to make sure they are valid HTML attributes, and it throws a console warning in development mode if not. Since `cacheKey` is not a valid HTML attribute, rendering `<div cacheKey="foo"/>` results in this console warning:

[code]

I would suggest changing the name of the prop to `data-cacheKey` or `data-cache-key`. That will avoid the unknown prop

[2017-03-02 03:37] aickin commented on #23
FYI, I'm currently porting over the ~550 server rendering tests I wrote for `react-dom-stream` into react master. A PR with the first 16 tests was accepted into react today, and I'll continue to add them over the next week, hopefully. I though they might help you, and I'd be happy to give you pointers on how to integrate them if you want.

If you're interested in what the tests look like, they are

[2017-03-02 05:55] wmertens commented on #46
See #50

[2017-03-02 06:05] wmertens commented on #39
Also, injecting stuff in `<head/>` with e.g. react-helmet, for example meta tags and document title.

[2017-03-02 06:40] divmain commented on #47
There are a couple of reasons for this.  React [doesn't support](https://github.com/facebook/react/issues/1035) conditional comments or `doctype` tags, and it looks like that's not something that will change.  If you need to inject `<script>` tags for analytics purposes, or really for anything aside from your React components, it [gets a bit clunky](https://github.com/facebook/react/issues/654).

[2017-03-02 06:47] #46 closed

[2017-03-02 06:53] divmain commented on #49
I've had a fix for this in mind, and probably should have included it before the public launch.  I do have a [potential fix](https://github.com/FormidableLabs/rapscallion/commit/76f2d653ab30c60acc448f1f46f6317649bf6933) for this in another branch.

On the one hand, I like the idea of changing to use a `data-*` attr for this, since that would be more in-line with typical React patterns.  On the oth

[2017-03-02 06:55] divmain commented on #48
Thanks for expanding on this here!  One thought is that this could be optional and explicit, by passing an option to the `toStream` method.  Something like `renderer.toStream({ autoInsertChecksum: true }).pipe(res);`

[2017-03-02 09:21] mhaagens opened #51 "Question: Implement data-fetching for server rendering"
This is more of a question, but would it be possible to implement something like this into Rapscallion? https://github.com/rexhome7326/sync-will-mount

Tested it and it works, lets you await a promise in ComponentWillMount() before continuing render.

[2017-03-02 10:31] mhaagens commented on #51
Something like this (in traverse.js)? Just tried it out and it seems to work.

[code]

[2017-03-02 15:21] montogeek commented on #49
I like `data-cacheKey`, `data` attributes were created for extensibility, this a good use case

[2017-03-02 15:50] aweary commented on #49
I think the `cacheKey` should be stripped. It serves no purpose on the client and will just increase response size.

[2017-03-03 09:03] divmain commented on #44
Closed by #54.

[2017-03-03 09:04] #44 closed

[2017-03-03 14:30] cescoferraro commented on #47
First off, thanks for the worderful library! I have been waiting for this in a long time!

I was about to open the same issue. Because the first instinct when finding out about the library was to search for renderToStaticMarkup function. The analogous non streaming react-dom/server module exposes a single object with just two methods on it.  It would be nice if we could follow the [Principle_of_le

[2017-03-03 15:00] cescoferraro opened #55 "Yarn ./src directory"
I have installed this library with `yarn add rapscallion`

Then when I try to use it I get

[code]

Because of thess [lines](https://github.com/FormidableLabs/rapscallion/blob/master/index.js#L1-L5)
My webpack config get mad about the fact that yarn does not bring the src directory and fails because cannot find it. How can I deal with these? removing the try/catch block solves  the issue `   modul

[2017-03-03 17:06] divmain commented on #55
Hi @cescoferraro.

This package isn't really intended to be used via Webpack. It's intended to be a server-side component only. What does your configuration look like? Are you using Webpack to transform your back-end code?

If the latter is true, one easy workaround would be to `require("rapscallion/lib")`. I'm open to changing what the module entry point looks like, too, if it's being consumed in

[2017-03-03 18:05] bmathews opened #57 "Differences in escaped/encoded text between React and Rapscallion"
This test fails due to differences in encoding charcode 39 between React and Rapscallion.

[code]

We can either pull in `react-dom/lib/escapeTextContentForBrowser` as a dep and use it directly, or duplicate/copy the changes necessary for parity.

https://github.com/facebook/react/blob/master/src/renderers/dom/shared/escapeTextContentForBrowser.js

[2017-03-03 18:12] aickin commented on #47
@cescoferraro Thanks for the contribution. I was thinking of a similar wrapper as well. The one thing I'm not clear about is if `template` will render a React Element that has a Rapscallion renderer as a descendant. For example, it's clear that this works:

[code]
but it's not totally clear from the docs if this will work or not:
[code]
The difference being that in the first case, the Rapscallion

[2017-03-03 18:56] divmain commented on #47
@aickin, re this:

[code]

I doubt that'll work as things stand now.  However, if you wanted something like that, you could always do:

[code]

I may be missing what you're going for here, though...

If you want the equivalent of `renderToStaticMarkup`, this should be supported by [includeDataReactAttrs ](https://github.com/FormidableLabs/rapscallion#rendererincludedatareactattrs).  It's not an id

[2017-03-03 22:26] aweary commented on #57
We should probably just copy it directly and maintain our own version of it. Future releases of React may not expose internal modules under `react{-dom}/lib/*`

[2017-03-04 06:34] divmain commented on #57
Agreed.  @bmathews, feel free to open another PR, and include the test above if possible.  And thanks!

[2017-03-05 01:16] ryan-roemer opened #59 "Downgrade npm engines"
[code]

should be downgraded now that we transpile on npm publishing for additional node support.

[2017-03-05 13:09] marcohamersma opened #61 "Problem reading checksum, not a stream?"
In the [example](https://github.com/FormidableLabs/rapscallion#example), It is implied that with the following code, one should be able to set the react checksum.

[code]

For me, this leads to an error: `Renderer#checksum can only be invoked for a renderer converted to node stream.`.

This seems to be an inconsistency. However if I append `toStream()` to `componentRenderer`, I get another error:

[2017-03-06 09:47] divmain commented on #61
I believe this was a regression.  I'll have a fix (and regression test) out for this tomorrow @marcohamersma.  Thanks for the report!

[2017-03-06 18:52] #42 closed

[2017-03-06 18:52] #49 closed

[2017-03-12 19:02] tom2strobl commented on #61
Hi there, are there any updates? I'm also down for an ungly hack in the meantime – can't get the checksum running in any way somehow.

[2017-03-13 12:11] bkniffler commented on #39
I'd really love to see such demos, still wondering how to make this working with apollo and fela!

[2017-03-13 22:49] threepointone commented on #39
I wrote a transforming stream that takes streamed html and inlines (glamor) css at the precise points  its used.

Uncovered a bug in rapscallion in that it doesn't read glamor rules attached via data attribs. classnames work fine though. Will file separate issue for it.

If you're adventurous, using glamor with classnames, copy paste [this file](https://github.com/threepointone/rakt/blob/master/pa

[2017-03-13 23:37] wmertens commented on #39
So you inject relevant style tags whenever you encouter a new class?

Can you do that in all places in html, e.g. inside tables?

Does this not break the rendering checksum?

On Mon, Mar 13, 2017, 11:49 PM Sunil Pai <notifications@github.com> wrote:

[2017-03-13 23:57] threepointone commented on #39
Pretty much, yes. I have naive detection for classnames, and prepend a style tag before its first occurrence.

Unsure which tags it would break with, I'll try out tables and such.

It does break checksums. React 16 doesn't show the warnings tho 🤷‍♀️

[2017-03-14 09:11] tom2strobl commented on #61
@divmain I tried to get the `.checksum()` from the responseRenderer, but that obviously doesn't work. Then I tried to call `componentRenderer.toStream()` manually, but that's not getting anywhere either. The componentRenderer lacks `this._stream`, but I have no idea how it should get one if I can't call `toStream()`.
Does it mean currently you can't get the checksum feature if you use the `respons

[2017-03-14 10:37] threepointone commented on #39
It appears the checksums break only when used with rapscallion. I might be integrating wrong. I'll try some variations and get back here.

[2017-03-15 00:47] abritinthebay commented on #51
Feels like this would be a good candidate to explore optional Rapscallion plugins/middleware. It's a very workflow specific thing to have to have in the main library.

[2017-03-15 06:53] divmain commented on #61
@tom2strobl @marcohamersma Sorry for the delay on this.  Real life interrupted :).  Fix is in master and published to `rapscallion@next`.  Would one of you be willing to install and check that this is resolved for you?

[2017-03-15 06:56] #57 closed

[2017-03-15 06:59] divmain commented on #55
Feel free to re-open if you need further help with this.

[2017-03-15 06:59] #55 closed

[2017-03-15 07:05] divmain commented on #37
This should be relatively straightforward now that the `Renderer` is easily exposed to its `Sequence`.

[2017-03-15 09:21] djgrant commented on #51
It is non-standard but there is definitely general demand for a feature like this. For example, the apollo client currently traverses a react tree before every render to resolve data dependencies (if that could be done during SSR it would introduce a great performance boost to many graphql apps). Other libraries have introduced functionality to solve the same issue.

I think the approach that is r

[2017-03-15 10:24] divmain commented on #51
Thanks for pointing me to `getInitialProps` @djgrant!  That's exactly what I was looking for.  I'm adding this feature request into the queue.

[2017-03-15 10:34] tom2strobl commented on #61
No worries, this is Open Source and you're doing it for free so there can't be a _delay_ :-)
I tried `npm i -S rapscallion@next` which installed `2.1.2`, unfortunately it seems to still persist, here's my (shortened) use case:

[code]

It throws:
[code]

Am I using it wrong?

[2017-03-15 10:41] divmain commented on #61
So... I may have forgotten to `npm run build` before publishing 🔨 Try it now, you should see `v2.1.3` available under the `next` tag.

[2017-03-15 13:11] tom2strobl commented on #61
Interesting, it now throws
[code]

[2017-03-15 15:31] HugoGiraudel commented on #61
Seconded. 2.1.1 throws ` Renderer#checksum can only be invoked for a renderer converted to node stream.`, 2.1.3 throws `Cannot read property 'toString' of undefined`.

[2017-03-15 18:29] divmain commented on #61
Can one of you throw up a gist that reproduces? I nerd something to work against.

[2017-03-15 18:50] bmathews commented on #61
I believe the template is supposed to be:
```${() => componentRenderer.checksum()}```

instead of:
```${componentRenderer.checksum()}```

[2017-03-15 19:12] divmain commented on #61
Shoot, the docs are wrong.  Thank you for pointing that out @bmathews.  I'll fix that in my branch.

[2017-03-15 19:23] mattiasewers commented on #61
@bmathews this and `v2.1.3`  solved the problem for me

[2017-03-15 20:08] divmain commented on #61
Thanks everybody.  I move these changes into master and publish to `latest`.

[2017-03-15 21:42] divmain commented on #51
@abritinthebay I'm open to exposing a generic plugin interface.  My concern with that, however, is that it will be difficult to implement in a way that does not hurt performance.  If you have thoughts on how to accomplish that, I'd be eager to hear them.  In any event, the implementation will be as non-specific as we can manage without hurting perf.

[2017-03-15 21:48] abritinthebay commented on #51
True, though I'd argue the same is probably in this case - it's all going to have hot-path impact no matter what.

[2017-03-16 03:54] stubailo commented on #51
Yeah I think our approach is something similar to getInitialProps, but you can put it anywhere in the tree. I think it's definitely desirable that SSR is possible without requiring a static mapping of URL -> data fetch.

[2017-03-16 21:03] clifton opened #65 "TypeError: frameIterator.patch is not a function"
When using setCacheStrategy on a memcached-backed store that returns promises I'm getting the following error:

[code]

config:

[code]

Adapter source is [here](https://gist.github.com/clifton/a087bd3b8ea7695dc96f559cb74780ad) but it is relatively simple (get/set returns promises and gets are batched).

[2017-03-16 21:12] bmathews commented on #65
This is due to the `instanceof Promise` check we're doing, where `Promise` in our scope is `Bluebird` rather than a native Promise. We should probably just check if it is thenable.

[2017-03-16 21:41] clifton commented on #65
ah, I'll use `Bluebird` for the time being. Thanks for the quick response!

[2017-03-16 21:54] djgrant commented on #51
@divmain @abritinthebay How about allowing a visitor function (something similar to https://github.com/ctrlplusb/react-tree-walker) to be attached to the renderer?

[code]

That would provide a flexible generic interface, and common visitors such as `getInitialPropsVisitor` could be packaged for developer convenience.

cc. @ctrlplusb

[2017-03-17 02:57] divmain commented on #51
That seems a reasonable approach.  I'll look into whether this approach adds any performance overhead.  It should be possible to add this without impacting perf for those not using the feature...

[2017-03-17 02:58] divmain commented on #65
Yeah, we'll change this to check for `then`ables.  Thanks for opening the issue @clifton!

[2017-03-17 20:46] #65 closed

[2017-03-21 21:00] clifton commented on #37
👍 , in a more naive caching library (that I shelved as this one is a better design), I implemented cache settings as a decorator to components that exposed settings such as in-memory caching (e.g. elements with few rendered permutations) but would use memcached otherwise.

[2017-03-22 00:10] pwmckenna opened #67 "stream chunk error"
[code]
This code (which is borderline invalid, but doesn't cause problems with renderToString), triggers the following:

[code]

renderToString just throws the array away and renders `<script type="text/javascript"></script>`

[2017-03-31 23:29] divmain commented on #67
Thanks for this.  If I have some free time this weekend, I'll pull branch off your PR and add the fix.

[2017-04-04 10:08] ctrlplusb commented on #51
Hey all!

My promise-based API is now officially released for [`react-tree-walker`](https://github.com/ctrlplusb/react-tree-walker).  Seems to work well, but like @divmain states, it would be interesting to do some performance overhead testing on this.

I also released [`react-async-bootstrapper`](https://github.com/ctrlplusb/react-async-bootstrapper) which is an abstraction on top of `react-tree-

[2017-04-04 12:42] siddharthkp commented on #39
I have a working example here with styled-components: [reaqt/server.js](https://github.com/siddharthkp/reaqt/blob/master/prod/server.js#L62-L75)

[2017-04-12 22:00] shuhei opened #73 "babel-plugin-server: prop without value"
`babel-plugin-server` throws an error on [a prop without value](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-boolean-value.md).

A minimum test case:

[code]

[2017-04-12 22:04] shuhei opened #74 "babel-plugin-server: spread attributes"
`babel-plugin-server` throws an error on [spread attributes](https://facebook.github.io/react/docs/jsx-in-depth.html#spread-attributes).

A minimum test case:

[code]

[2017-04-12 22:08] shuhei opened #75 "babel-plugin-server: non-identifier expression as JSX element name"
`babel-plugin-server` prerenders `<undefined><undefined>` given a non-identifier expression as JSX element name.

A minimum test case:

[code]

[2017-04-16 11:46] dortzur opened #76 "Error thrown when using react-redux Provider"
Error thrown:
"Uncaught Error: React.Children.only expected to receive a single React element child."
From debugging I could see the provider didn't get any children. Not sure why.

minimal reproduction code:
[code]
.babelrc
[code]

[2017-04-16 23:19] divmain commented on #76
Thanks for the simple repro!  I'll take a look at this.

[2017-04-18 07:23] dortzur commented on #76
Thanks! We're switching to SSR and want to use Rapscallion in production (1 Billion monthly page views) if everything goes well.

[2017-04-20 00:51] #76 closed

[2017-04-20 00:51] divmain commented on #76
@dortzur, can you pull down latest master to confirm the issue is resolved?

[2017-04-20 10:11] mijamo opened #77 "Attributes with no value are not inserted"
Consider this:
    <video autoPlay />

The expected React output is:
    <video autoplay="" />

But Rapscallion returns
    <video />

Note that the autoplay attribute is gone.

After quickly looking at the code, it seems like https://github.com/FormidableLabs/rapscallion/blob/master/src/render/attrs/index.js#L31 is responsible. If the value is `true` Object.keys(attrVal).length is indeed 0 but it

[2017-04-20 17:10] divmain commented on #77
Hey @mijamo, could you update your ticket with the expected/actual output?  Thanks!

[2017-04-20 17:27] mijamo commented on #77
Sorry, they were actually in my issue but a wrong formatting made them invisible. Updated now.

[2017-04-24 11:49] MohitKansal opened #79 "Not able to insert JSON string properly in HTML element attribute"
for ex:
var obj = {a:4};

react component
<input value={JSON.stringify(obj)} id="input_1" />

expected output
<input value='{"a":4}' id="input_1" />

but Rapscallion returns
<input value="{"a":4}" id="input_1" />

which leads to the erroneous input value.
when I try to get input value, it returns "{".

[2017-04-28 05:40] divmain commented on #79
Hi @MohitKansal, I assume you're doing something like:
[code]
I can see how that would result in incorrect output.  Looks like we're not properly escaping the string attribute values.

[2017-04-28 05:52] #79 closed

[2017-04-28 05:52] divmain commented on #79
This will be fixed in the next release.

[2017-05-07 11:17] ismay opened #80 "Possibility to return undefined from template expression"
I'm using rapscallion and am using helmet to render a title and meta description (see [here](https://github.com/ismay/ismaywolff.nl/blob/develop/src/server/getResponseRenderer.js#L88)):

[code]

Now helmet needs to be instantiated after rendering the app, but since rapscallion throws an error when returning undefined from an expression* I'm just returning an empty string. This isn't really a big d

[2017-05-07 12:28] ismay commented on #73
I've run into this as well: https://github.com/ismay/ismaywolff.nl/pull/406 (caused by this [property](https://github.com/ismay/ismaywolff.nl/blob/453516ebe5784e84716e88db2e39e37284feb14b/src/shared/components/images/components/Zoomable.jsx#L47))

[2017-05-10 10:54] ismay commented on #39
For people who are wondering how to use rapscallion and styled-components (also a css-in-js lib) for SSR, this is how I'm doing it: https://github.com/ismay/ismaywolff.nl/blob/develop/src/server/handleRender.jsx#L18

Works like a charm.

[2017-05-10 11:01] wmertens commented on #39
Just making sure: This first renders the entire app and then streams it,
right? So streaming won't make a difference in time-to-first-byte?

Since the styles are in the <head/>, you need to render the entire app
before you can send the head…

One solution for this would be to embed the styles just before the first
component using them, but that's only really feasible with fragments.

On Wed, May 1

[2017-05-10 11:19] ismay commented on #39
right?

@wmertens Hmm, I hope not. I've based it on the example from the readme: https://github.com/FormidableLabs/rapscallion#example. So I hope I'm not doing anything stupid and losing all of rapscallions benefits..

The way I intended this to work is for it to start streaming immediately, and while it's doing that render `<App />`. Only thing it should be waiting for is for the promises from `f

[2017-05-10 11:22] siddharthkp commented on #39
@ismay I don't think you'll be able to get the styles as well while streaming. Related: https://github.com/styled-components/styled-components/issues/600#issuecomment-298732201

[2017-05-10 11:26] ismay commented on #39
@siddharthkp, That's ok, as long as I can get them afterwards and then insert them in the head clientside.

[2017-05-10 12:09] ismay commented on #39
Currently yes. Anything else isn't possible with styled-components v2's api as far as I know. It'd be nice if the styles could be attached right away yeah, but there are still benefits to streaming nonetheless. I can start sending a response right away which enables the client to start downloading assets (etc.) earlier than if I'd render everything on the server and then start sending.

[2017-05-10 16:07] philpl commented on #39
@ismay we could potentially place the style tags at the end of the body to bring streaming back properly, right?

[2017-05-10 17:09] siddharthkp commented on #39
@philpl, I'm not sure about that. I imagine the real power is rendering above the fold content first and then follow it up by rest. that would include styles.
styles coming at the end is not optimal

[2017-05-10 17:17] wmertens commented on #39
(above-the-fold rendering is awesome for users, bad for search engines.
Only do it when you detect a regular visitor)

Styles coming at the end means that while the html is loading, the browser
renders everything unstyled.

I wonder if styled-components could hijack styled DOM elements that can
stand it (everything except table and list tags) to inject a `<style>` tag
as the first child?

On Wed,

[2017-05-11 08:46] ismay commented on #39
@philpl I'm not sure if that's valid. Browsers might parse it but I believe only the `scoped` attribute allows style tags in the body and `scoped` has been deprecated. Placing them in the head seems the most safe to me. Please correct me if I'm wrong.

And as @siddharthkp said, when streaming the most desirable implementation would be to stream html that includes styles as well so that there's no

[2017-05-11 09:24] mohtar opened #81 "Boolean attributes not rendered"
`<button disabled={true} />` or its shorthand `<button disabled />` the disabled attribute seems to be ignored.

[2017-05-11 09:27] mohtar opened #82 "Attributes with numeric value not rendered"
`<textarea rows="10" />` is OK but `<textarea rows={10} />` where the attribute value is a number results in not being rendered.

[2017-05-11 09:37] mohtar opened #83 "Null components should be rendered"
Consider the empty component:

    class Empty extends React.Component {
      render() {
        return null;
      }
    }

Then rendering the component should result in placeholder in the form of HTML comment like so

    ''

Instead Rapscallion just outputs an empty string. Client-side React will then complain about invalid checksum.

This should also work with `undefined` and `false`.

[2017-05-16 21:48] ethersage commented on #83
Running into this as well.

[2017-05-19 08:50] mijamo commented on #82
I think the cause is the same as #77 .

https://github.com/FormidableLabs/rapscallion/blob/master/src/render/attrs/index.js#L31

As `attrVal` is in this case `10`, the condition `Object.keys(attrVal).length > 0` is not satisfied and thus no attribute is inserted, same case when the value is `true` (my problem on isue #77 ).

I am not sure what that condition is supposed to check so I have been unw

[2017-05-19 16:58] ethersage commented on #83
I think I can have a PR for this and some other other issues I found if this is something you're open to.

[2017-05-22 10:27] mijamo commented on #81
This is a duplicate of #77 but should be fixed by #85

[2017-05-22 10:27] mijamo commented on #77
This should be fixed by #85

[2017-05-23 05:43] #81 closed

[2017-05-24 14:07] maxgalbu opened #86 "Issue with <select> tags - <select value=""> is not moved to <option selected>"
With ReactDOM, this:

[code]

gets rendered into

[code]
while with rapscallion:

[code]

The [React docs](https://facebook.github.io/react/docs/forms.html#the-select-tag) say we should use `value` on select.

[2017-05-26 22:57] ethersage opened #87 "Async Cache Misses Render Empty or Out of Order"
I am setting my own async cache strategy. When the cache is empty and I `resolve(null)` in `get`, the rendered output of the component is being inserted later on in the output in the wrong place. It seems as if the component with a cacheKey is being rendered as the last child even if it is not the last child. I think renderChildren must be emitting all of the non-cached childen before the cached o

[2017-05-29 08:21] maxgalbu commented on #87
I was having the same issue, the cached element was not rendered, but I did not see whether it was rendered at all. So it's "cache all components" or "cache none"?

[2017-05-30 23:30] ethersage commented on #87
@maxgalbu I'm able to replicate that using this gist: https://gist.github.com/ethersage/1f5f696b43e62ab1ef8a9d9a9080cb96

[2017-05-31 00:01] ethersage commented on #87
If I add a sibling cache key and tune the asynchronicity to 1 node, you get the following:

`<ul></ul><li>b</li><li>a</li>`

https://gist.github.com/ethersage/1a68e7dc1d69813c80c25ce78e38fe39

[2017-05-31 03:42] ethersage commented on #87
Wrote some tests to verify the issue: https://github.com/FormidableLabs/rapscallion/pull/88

[2017-06-08 16:09] tizmagik opened #93 "Promise not being Rejected on error?"
Currently it looks like Rapscallion does not handle errors thrown in Components. So the `catch()` block here does not get hit:

[code]

I'm not sure if this is expected behavior? Right now it seems the only way to catch the error is to add an `uncaughtException` handler.

[2017-06-09 14:54] indeyets commented on #93
I see the same here. Each error pretty much kills the server ignoring catch-blocks we have in place.

[2017-06-11 06:07] #83 closed

[2017-06-11 18:21] Rymar commented on #87
I'm not sure if it's connected but i have similar cache issues, i made repo if you want to try it by yourself.

https://github.com/Rymar/rapscalion-cache

[2017-06-12 09:26] jamesjjk commented on #80
@ismay How did you achieve appendToHead?

[2017-06-12 10:05] fleg opened #94 "Discrepancies in attributes rendering"
### empty style
[code]

[code]

### multiple attribute in input
`<input multiple={false} />`

react: `<input/>`
rapscallion: `<input multiple="false"/>`

### custom attributes
`<input qwe={false} />`

react: `<input/>`
rapscallion: `<input qwe="false"/>`

### attributes order
[code]

It all maybe covered by #58

[2017-06-12 12:21] ismay commented on #80
@jamesjjk This is what I used:

[code]

Don't know if it's the best way, but it worked for me.

[2017-06-13 13:54] geekodour opened #99 "Is there a redux example for rapscallion?"

[2017-06-13 19:46] jamesjjk commented on #39
@jaredpalmer @wmertens Would be great to see how you can stream react markup and inject into the head.

I tried a similar approach to @threepointone - inlinePipe and was able to extract the head tag data generated by helmet however I would require to write some additional functionality to modify the top down order of the template renderer. Not sure if this is the correct approach, would be nice to

[2017-06-16 17:31] gcpantazis opened #100 "dangerouslySetInnerHTML fails with arrays"
If you attempt to render a tag such as this:

[code]

where `content` is an array, Rapscallon will fail on the adler checksum generator:

[code]

`renderToString()` allows for arrays, so it seems like we should handle them here. I can fix by specifying `content[0]` (all of the arrays I'm dealing with at the moment are 1-length), though I'd need to do some additional research to know exactly what R

[2017-06-20 07:19] #93 closed

[2017-06-20 07:22] divmain commented on #99
Not explicitly, although the example provided [here](https://github.com/FormidableLabs/rapscallion#example) should get you pretty close.  If there's a particular issue you've run into, please feel free to reach out with details!

[2017-06-20 07:22] #99 closed

[2017-06-20 07:26] divmain commented on #93
This will be fixed in the next release.  Kudos to @fleg!

[2017-06-23 11:33] veiico commented on #74
would be cool to have this feature working (having the same behavior)

[2017-06-29 06:35] #87 closed

[2017-06-29 13:32] indeyets opened #102 "BC break (regression?): injectDOMPropertyConfig"
`cat test.js`

[code]

`./node_modules/.bin/babel-node test.js`

[code]

[2017-06-29 13:33] indeyets commented on #102
@fleg ping. this seems to be related to recent changes

[2017-06-29 13:53] fleg commented on #102
ok, I look into it as soon as possible

[2017-06-29 13:54] fleg commented on #102
meanwhile you can simply change order of imports
[code]
I guess it will help

[2017-06-29 13:56] indeyets commented on #102
@fleg sure, but example is artificial. in the real world this means I have to explicitly import react-dom in my render module where I never had it. Currently it is present strictly in components which need it

that's why it is a BC break

[2017-06-29 17:02] #102 closed

[2017-06-29 17:03] divmain commented on #102
Resolved in `v2.1.10`.

[2017-06-30 01:59] divmain commented on #74
Alright, this is next in my queue.

[2017-06-30 12:24] indeyets opened #103 "promise-based rendering. sometimes hangs"
I use promise based rendering in a project. Server is build using webpack

Sometimes, while in development mode, I see that rapscallion's promise just never returns. It usually happens when code was just recently build and nodemon started the process. Killing server and starting it manually (without auto-rebuild) usually solves the issue.

I didn't notice this behavior before the update of rapscal

[2017-06-30 12:26] indeyets commented on #103
@fleg any ideas what could cause this? error handling maybe?

[2017-06-30 12:53] indeyets commented on #103
ok, it actually returns, but it takes several minutes. The server is in a blocked state during this period.

Second and further requests work just fine

[2017-06-30 14:32] indeyets commented on #103
figured out the trigger. it's `NODE_ENV=development`. it works fine with other values

[2017-06-30 15:33] ethersage commented on #103
This is new in `>= 2.1.8`?

[2017-06-30 16:14] indeyets commented on #103
Yup. I didn't see it happening before. Might be coincidence of course. I will recheck with older version  later today

[2017-07-01 17:55] daryn-k opened #105 "TypeError: (("document.querySelector.... is not a function"
I got this error - TypeError: (("document.querySelector("#react-view").setAttribute("data-react-checksum", "" + (intermediate value)) + "")") is not a function

How can I fix it?

[2017-07-03 11:24] tehdb opened #106 "Invalid non-string/buffer chunk"
Since rapscallion update to 2.1.10 the following problem occurs:

render app setup:

[code]

Thrown exception:

[code]

The problem does not occur with rapscallion 2.1.7

[2017-07-03 15:54] ethersage commented on #106
Thanks for the detail!

[2017-07-03 19:37] ethersage commented on #103
I think it's possible #106 would manifest this way for promises.

[2017-07-04 10:00] tehdb commented on #106
you are welcome, let me know if you need further information or support to fix this bug

[2017-07-04 20:10] jamesjjk commented on #106
Same issue version 2.1.7 fine, broken in 2.1.10

[2017-07-05 17:27] ethersage commented on #106
#107 should fix this issue

[2017-07-06 20:08] #94 closed

[2017-07-06 20:50] ethersage commented on #106
#107 was merged. Release hopefully soon.

[2017-07-10 19:53] aga5tya opened #108 "[Help Needed] Integration with koa based server."
I am trying to implement rapscallion with a koa based SSR backend, but unable to get the streams implementation right. Are there any examples that can point me in the right direction? Any pointers will highly help me out :)

[2017-07-10 22:31] divmain commented on #108
Hey @aga5tya.  We don't have any ready-made Koa examples, but the response objects should all operate the same under the hood.  Need more information to determine if this is a bug or if there's something missing on your end.

[2017-07-11 04:34] aga5tya commented on #108
@divmain, Apologize for not sharing complete details, il push a repro in sometime. Probably something to do with the way I'm implementing.

[2017-07-11 06:01] aga5tya commented on #108
@divmain I have pushed in a repro at, "yarn install && yarn run develop" should get the application up.
https://github.com/aga5tya/react-universally/tree/feature/rapscallion-integration

Key changes i did are at this commit.
https://github.com/aga5tya/react-universally/commit/4183a5069fd713d6a69ae50dc4e88250aca55b94

Let me know if you need any clarifications :)

[2017-07-12 07:38] liviuignat commented on #103
Hi guys,
Maybe it's related, but the bellow code give this warning:

[code]

code:

[code]

Any ideas?

[2017-07-13 13:41] Shadowman4205 opened #109 "Unhandled rejection TypeError: Unknown node of type: undefined"
Hello, i am using react starter kit and trying to replace reactdom with rapscallion. butt i getting this error

[code]
I tried to replace a part

[code]
with
[code]

any suggestion?

[2017-07-15 02:19] ethersage commented on #106
@tehdb Closing this issue is I believe it is fixed in v2.1.12.

[2017-07-15 02:19] #106 closed

[2017-07-15 02:32] ethersage commented on #108
@aga5tya Without knowing the specific error or symptoms you're seeing, from the commit you posted I believe I see two potential issues:

1) [`ServerHTML`](https://github.com/aga5tya/react-universally/blob/4183a5069fd713d6a69ae50dc4e88250aca55b94/server/middleware/reactApplication/ServerHTML.js#L94-L107) appears to be a react component that returns a rapscallion renderer (by invoking `template`). T

[2017-07-15 02:32] #108 closed

[2017-07-26 09:56] elierotenberg opened #110 "Support middleware transforms"
More often than not, I find myself in the situation where I need to apply transforms at the HTML AST level. For example, I may want to replace all `<a>` tags with `<span>` tags (and perform the reverse transform before mounting the app on the client side). Or inline `<script src>` tags.

Currently, I do this in a very unperformant way: first I render the app using `renderToString`, then I use an H

[2017-07-26 10:05] elierotenberg commented on #51
Maybe my own attempt at solving this issue can be helpful here:
https://github.com/elierotenberg/react-prepare

Instead of hacking the React lifecycle functions, I use a specially marked higher-order component, which is detected during the recursive traversal of the tree. I think separating the preparation step from the rendering step is usually a good idea, and I could implement a stream-friendly

[2017-07-26 10:07] elierotenberg commented on #51
Also, https://github.com/elierotenberg/react-traverse performs deep components output rewriting, using higher order magic.

Sorry for the plugs, but I think this can shed a light on various approaches to tackle this problem.

[2017-07-26 13:58] djgrant commented on #51
Nice! Thanks for sharing @elierotenberg.

This means traversing the React tree twice. In my experiments that was always slower than resolving async work while rendering.

If we go ahead with a plugin approach (e.g. https://github.com/FormidableLabs/rapscallion/issues/51#issuecomment-287202896) then you could write a plugin that conforms to your projects' APIs.

[2017-07-26 20:36] ctrlplusb commented on #51
Will fiber land and change everything?

[2017-07-26 21:28] ctrlplusb commented on #51
https://github.com/facebook/react/issues/10294#issuecomment-318184274

🤤

[2017-07-26 22:19] gaearon commented on #51
To be clear “asynchronous” Fiber features are not related to server side rendering. They’re related to client-side updates. The new server side renderer is not even using Fiber, and is written as standalone renderer with a simple `while` loop.

[2017-07-26 22:56] djgrant commented on #51
@gaearon Thanks for the clarification! Is a server side renderer that is capable of doing async work during rendering likely to fall on the React roadmap in the future?

[2017-07-26 23:26] gaearon commented on #51
It might. @sebmarkbage was looking into this.

[2017-08-02 03:24] ethersage commented on #109
Do you happen to have a simple React DOM component tree that can reproduce this?

[2017-08-02 03:27] ethersage commented on #105
What code produces this error? This doesn't look like a `Rapscallion` error to me. I'm guessing you're following [this example](https://github.com/FormidableLabs/rapscallion#example) to replace the checksum client side prior to mounting.

[2017-08-02 03:30] ethersage commented on #103
@indeyets Is this fixed in `2.1.13` by chance?

[2017-08-02 04:59] indeyets commented on #103
@ethersage it isn't. still happens here

[2017-08-08 16:08] wayweary opened #113 "It doesnt seem to work with ImmutableJS"
I am getting this error:
`TypeError: Unknown node of type: undefined        at traverse.js:373:9`

When i try to do this in a comp
[code]
However, if i change the link to a regular js list it will work:
[code]

When i log the list to the console, you clearly see the props of the regular list while the ImmutableJS list will only display object. And you can see the type prop on the regular list.

![

[2017-08-09 16:00] dorian-marchal commented on #74
Any news on this ?

[2017-08-10 15:13] mastilver opened #114 "Plan to migrate to react@16?"
Hi, as you might be aware react is changing there file structure in the next release. So most of `rapscallion`'s imports now fails with the new version of `react` and `react-dom`. Do you have any plan to support react@16?

In the meantime, shouldn't `rapscallion` have `react` and `react-dom` as `peerDependencies`?

https://github.com/facebook/react/issues/10294

[2017-08-11 16:06] aickin commented on #114
It's also worth noting that React 16 has some features that overlap with Rapscallion:

- Streaming is supported, with the new methods `renderToNodeStream` and `renderToNodeStaticMarkup`.
- Server rendering is now a **lot** faster than it was in React 15.

There are, however, some Rapscallion features that are not in React 16:

- You can not embed a stream in a component, so streaming HTML templati

[2017-08-30 00:23] seansd opened #115 "Build without Bluebird?"
Bluebird is a promise library, and most of that work is for client-side functionality.  I'm wanting to use your package server-side only, and we already are on Node 6+ which supports promises, not too mention we have our own promise shim.. . any chance of removing that dependency. . . ?

[2017-08-30 20:32] divmain commented on #115
Can you help me understand your use case?  As far as I know, Bluebird still performs better than V8 native Promises, so there's a compelling reason to keep it as a dependency.  Bluebird shouldn't make it onto your client-side bundle, so if you're seeing something like that, please let me know.

[2017-08-31 12:35] seansd commented on #115
Simply a package dependency deal.  I'd rather not include something that's not actually needed.  We use native promises already with great success and while bluebird might perform better today, eventually that won't be the case (in fact we'll probably be switching to Node8 pretty soon).  I certainly can fork the project but that seemed a bit heavy handed.

[2017-08-31 17:42] ryan-roemer commented on #115
@seansd -- Let me see if I can summarize the use case / problem area here (and please correct me if I'm wrong!):

- You use `rapscallion` only on the server-side in a node6+ environment with native `Promise` support.
- Thus, you technically don't need `bluebird` as a dependency.
- `rapscallion` has a prod `dependencies` on `bluebird`. `bluebird` has no `dependencies`. Using `npm pack bluebird` to

[2017-08-31 18:52] divmain commented on #115
Hi @seansd, this will probably have to be deferred until Node actually catches up performance-wise.  You're free to use native promises in your own code, though - Promises implement a specific interface and should all be compatible, so long as they're written to spec.

Here's where things lie right now.  This is a "real world" benchmark taken from Bluebird's repository and run on Node v8.1.2.

| f

[2017-08-31 20:50] seansd commented on #115
@ryan-roemer Yes, and also not just the extra code, but also the overhead of yet another dependency to manage when building a large site.  (Thankfully bluebird itself does not have any dependencies on it's own).

Seems like it could at least be an option to allow for support for native promises. . . but I understand your point about the performace (jeesh maybe i'll just forbid promises all togethe

[2017-09-15 00:29] bkniffler commented on #73
Any news?

[2017-09-19 17:55] ethersage commented on #73
Sorry I will try to look at this

[2017-09-19 21:01] #115 closed

[2017-09-21 13:41] ethersage commented on #73
@bkniffler ☝️ Would you mind giving the above PR a review?

[2017-09-21 13:42] ethersage commented on #73
@shuhei @ismay Would you mind giving the above PR a review please?

[2017-09-22 09:21] ismay commented on #73
@ethersage Sorry I'm not familiar with this codebase and not using rapscallion at the moment, so I don't feel qualified to review this.

[2017-09-23 23:41] theskillwithin commented on #114
would be interested in knowing the answer to this as well

[2017-10-24 14:26] arnayak4u opened #118 "Warning: render(): Target node has markup rendered by React, but there are unrelated nodes as well. This is most commonly caused by white-space inserted around server-rendered markup."
After switching to Rapscallion template  toStream() , I am getting following Error/Warning on the browser:

**Warning: render(): Target node has markup rendered by React, but there are unrelated nodes as well. This is most commonly caused by white-space inserted around server-rendered markup.**

My React SSR code looks somewhat like below :

    app.get('*', function (request, response) {

[2017-11-20 17:29] Razem commented on #113
I've just gotten the exact same error for the exact same reason. It would be really cool if we had support for Immutable.js since lots of people use it in their projects.

[2017-11-20 18:20] philpl commented on #113
Have you tried calling “.toArray()” after “.map”, otherwise React will use immutable’s iterables which rapscallion probably doesn’t support

[2017-11-20 19:23] Razem commented on #113
@philpl Sure, it worked. But since React supports Immutable lists, I would expect the same from Rapscallion.

[2017-11-20 21:32] ryan-roemer commented on #113
To help my understanding of the changes involved, can someone point me to how React handles things or a pseudo-code diff of what the changes would involve to be immutable-compatible?

[2017-11-28 06:28] divmain commented on #113
Hi @wayweary.  Can you provide a reduced repro that I can work against?  This should definitely be addressable, but it'll be easier if I start without having to recreate your broken experience.  @Razem, feel free to jump in, too :)

[2017-11-28 12:07] Razem commented on #113
@divmain Here is an example: https://github.com/Razem/rapscallion-immutable-test

As you can see, it can be successfully rendered using the `ReactDOMServer.renderToString` method, but Rapscallion fails to recognize Immutable objects as iterables.

I believe the problem is somewhere in [src/render/traverse.js](https://github.com/FormidableLabs/rapscallion/blob/master/src/render/traverse.js).

Also

[2017-12-02 19:19] danieljuhl commented on #118
Have you tried `<div id="appRoot">${componentRenderer}</div>`

[2017-12-05 21:40] genui-eeshan opened #119 "Runaway promise error when using this library with Bluebird"
When using this library with Bluebird, Bluebird throws a runaway promise error for the following:

[code]

More information about the error can be found here: http://goo.gl/rRqMUw

[2017-12-05 21:42] genui-eeshan commented on #119
A simple fix that worked locally was adding ```return null``` before the catch on line 44.

[2017-12-06 23:06] ryan-roemer commented on #119
We'd ❤️  a PR with a regression test!

[2017-12-11 17:56] genui-eeshan commented on #119
@ryan-roemer Someone created a PR for this. #111

What's it missing to be pushed in?

[2017-12-18 09:40] spa-simone commented on #118
The solution suggested by @danieljuhl definitely works. I think this issue can be closed.

[2017-12-18 15:17] ryan-roemer commented on #118
Thanks @danieljuhl and @spa-simone !

[2017-12-18 15:17] #118 closed

[2017-12-18 20:26] ryan-roemer commented on #119
@genui-eeshan -- Glad to hear it's the same issue since L44 isn't in that PR. Added a reference in https://github.com/FormidableLabs/rapscallion/pull/111 to close this issue when merged.

[2018-04-26 19:13] eberhara commented on #114
+1

[2018-05-25 01:27] zackljackson commented on #114
What about opening a PR with: https://github.com/zackljackson/react-component-caching mapped into the API of rapscallion? Or at least the renderer of it?

[2018-05-25 01:34] zackljackson opened #120 "Can I be of service with React 16?"
@divmain

Heya Dale! Im know you guys have your hands full. I wanted to know if theres anything I can do to assist with React 16 support?

Pretty much, have you guys given it any thought? I know React16 solves many problems that you guys had worked tirelessly to handle inside rapscallion. But theres still one major area that I can see this project living on and servicing very will... Fragment cach

[2018-07-05 23:49] divmain commented on #120
Hey @ScriptedAlchemy - sorry for dropping the ball on replying to you!  Help moving forward with React 16 would be much appreciated.  You still interested?

[2018-07-06 01:12] ScriptedAlchemy commented on #120
No worries, yeah I’d still be down to do it. I just relocated to Seattle, so I’ve got more downtime to contribute to open-source. (AKA: no job)😂😂

If I do the upgrade, anyone watching enough to merge it? Not a huge amount of activity in recent months - ill do it, for sure, just wanna make sure someone who has write access is around

[2018-07-06 21:11] ScriptedAlchemy commented on #120
@divmain ☝️

Also is there a better way to reach you?

[2018-10-24 13:16] tannerlinsley commented on #120
@ScriptedAlchemy is this what react-static needs? ;) I just tried to install and test and realized it wasn't 16 compatible... :(

[2018-10-24 22:06] ScriptedAlchemy commented on #120
I was gonna upgrade it for them, but formidable doesn’t seem to be too active - my fear is doing the work and the PR never merges.

I was gonna take rookLabs and patch it’s conciliation engine into this

[2018-10-24 22:07] ScriptedAlchemy commented on #120
I have write access to rookLabs, we can work as we need to on it if need be

[2018-10-24 22:14] ethersage commented on #120
I'm going to try to get my merge access sorted out and if so I can work with you on this.

[2018-10-24 22:32] ScriptedAlchemy commented on #120
I just started a new job, so im a little constrained this week and next. But if we can sort out consistent write access (dont care who) - ill help maintain it

[2018-10-24 23:01] ryan-roemer commented on #120
@ScriptedAlchemy @ethersage -- Thanks for the contributions and work! @boygirl (our OSS lead) and I really need to touch base with @divmain (the lead maintainer, currently at another company) and get our support story straight on this project (and https://github.com/FormidableLabs/freactal).

We will update by sometime next week with a path forward that hopefully works with your uses!

[2018-10-31 06:53] #73 closed

[2018-10-31 22:43] ryan-roemer commented on #120
Hi @ScriptedAlchemy,

Formidable as been in a bit of holding pattern on this repo, and we'd like to enable the community to get back to it and hopefully pick up the reins on this project (with our background support). And we are excited to see @ethersage 's great work all around and cleaning things up / modernizing stuff.

For this specific issue, we'd love to have an upgrade PR. I've done a few o

[2018-10-31 22:52] ryan-roemer commented on #119
Fixed in #124 if I'm tracking things correctly.

@ethersage -- is that right?

[2018-10-31 22:52] #119 closed

[2018-10-31 22:55] ryan-roemer commented on #114
Closing in favor of #120 which is most recent discussion of React16 support. (This ticket details the _why we need it_ more, but I think we all agree we need it, so I'm honing us down to one ticket 😛 )

[2018-10-31 22:55] #114 closed

[2018-10-31 22:56] ryan-roemer commented on #59
Closing as 4 has been EOL'ed for a while.

[2018-10-31 22:56] #59 closed

[2018-11-01 04:30] ethersage commented on #119
@ryan-roemer Correct. Have not released a patch version yet though.

[2018-11-01 09:52] ScriptedAlchemy commented on #120
Hey! Great to see this roar back to life. If there’s not already readily available maintainers. I’ll definitely sign up for one.

Im fully on board to maintain this a long time. Half my product line is about to be merged into Suspense. So I’ll only look after react static RFR and Rudy, I’ve reversed engineered your code to do some crazy things. I was able to put-perform backend fragment caches. It

[2018-11-01 09:54] ScriptedAlchemy commented on #120
And if there’s any formidable people at my company. Let’s grab lunch

[2018-11-01 10:06] ScriptedAlchemy commented on #120
Also. I’ve got a few reports which are “the communities responsibility .”

I refer to it is as entering LTS

Myself Would enjoy bringing back as a active dev into.

Lmk, I’m down next week to start pigsinf blueprints. I am thinly stretched, but this is a project that I’ve had to re engineer a few times. Internal fixes are good. Plus I brink enterprise scale and will ensure your original friend han

[2018-11-05 19:54] ryan-roemer commented on #120
@ethersage @ScriptedAlchemy -- Just to place a note here: I'm down to support either of you kicking things off if y'all have a mutually agreed "next step" for the project! You're both maintainers now, so there are no structural impediments and I can help with anything infrastructure / support / whatever.

Cheers!

[2018-11-06 09:32] ScriptedAlchemy commented on #120
Thanks! I’m likely to open an issue with initial planned idea to patch R16 into it. Your input will be helpful as I’ve mostly monkey ptched via elaborate wrappers, internally it’s been a year since.

Honestly I think it’s a case of we hammer out the issue and plan. Then just start doing as we have time. I am actively working to reduce my OSS workload so I can pick up here.

[2019-03-29 08:10] liubin915249126 opened #127 "can i use this with ie9?"

[2019-03-29 12:21] kitten commented on #120
@ScriptedAlchemy @ethersage Hiya, we currently have a new library that's called `react-ssr-prepass` that might help in implementing a new traverser. It does not have any stringification logic, but that can be pieced together from what's implemented in `rapscallion` already or `react-dom`'s `ReactPartialRenderer`, which is what `react-ssr-prepass` is based on. https://github.com/FormidableLabs/reac

[2019-03-29 21:54] ScriptedAlchemy commented on #120
Awesome, I’ll check it out! I’ve not been able to get to this task because I’ve not had a use case or business reason to update it.

However that might change in the next 2 months - if so I’ll be getting to the upgrade. I’m also in talks with the maintainer of React hot loader who might collaborate on this upgrade